body{
    margin: 0;
    padding-top: 85px;
    padding-left: 98px;
    padding-right: 25px;
    background-color: rgb(247, 246, 246);
}

.container{
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    column-gap: 16px;
    row-gap: 40px;
    
}
.thumbnails{
    width: 100%;
   margin-bottom: 8px;
}
.grid{
    display: grid;
    grid-template-columns: 50px 2fr;
}

.icon{
    width: 36px;
    border-radius: 80px;
}
p{
    font-family: roboto,Arial;
    margin-top: 0;
    margin-bottom: 0;
}
.video-title{
    margin-top: 0%;
    margin-bottom: 15px;
    font-weight: 400px;
    line-height: 20px;
    font-size: 14px;
    cursor: pointer;
}
.thumbnail-row{
    position: relative;
    cursor: pointer;
}
.more-discription{
    color: rgb(96, 96, 96);
    font-size: 12px;
    margin-bottom: 4px;
}
.video-author{
    margin-bottom: 6px;
}
.video-time{
    padding: 4px;
    position: absolute;
    bottom: 20px;
    right: 6px;
    background-color: black;
    color: white;
    font-family: Roboto,Arial, Helvetica, sans-serif;
    font-size: 13px;
    border-radius: 2px;
}

.link{
    text-decoration: none;
    color: black;

}
